@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: black;
    box-shadow: 0 5px 25px black;
    z-index: 1000;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}

#toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(26, 2, 102);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateX(0px) rotate(-45deg);
}

#toggle.active {
    background: blueviolet;
}

#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    background: black;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}

#navbar.active {
    width: 604px;
}

#navbar ul {
    position: relative;
    display: flex;
    flex-direction: row;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: ghostwhite;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
    /* white-space: normal; */
}

#navbar ul li a:hover {
    color: white;
    background: rgb(212, 140, 51);
}


/* Sections*/


/* 
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: brown;
    font-size: 18vw;
    font-weight: 700;
} */


/* Image Photo */

.circle {
    position: relative;
    margin-right: 10px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -700px;
    left: 1000px;
}

.circle img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#intro {
    top: -400px;
    left: 150px;
    position: relative;
    color: aliceblue;
}

.main {
    position: absolute;
    top: 400px;
    width: 100%;
    left: 10px;
}

.home_conatiner {
    display: flex;
    width: 100%;
}

.home_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    top: -200px;
    left: 100px;
}

.home_content a {
    margin: 5px 0 5px 0;
    font-size: 35px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.github {
    color: white;
}

.instagram {
    color: red;
}

.wrapper {
    display: flex;
}

.wrapper .static-txt {
    position: relative;
    color: #fff;
    top: -390px;
    left: 150px;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    position: relative;
    top: -390px;
    left: 150px;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: blueviolet;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #FC6D6D;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}

#para {
    position: relative;
    top: -400px;
    left: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
}


/* Skill section starts here */

#skill-section {
    width: 100%;
    height: auto;
    padding: 80px 13%;
}

.header {
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}


/* Responsiveness Of Navbar */

@media(max-width: 912px) {
    #navbar {
        position: absolute;
        bottom: -100;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar.active {
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
    }
    #navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 100px;
        height: 200px;
    }
}