body{
    background: #44A08D;  
    background: -webkit-linear-gradient(to right, #093637, #44A08D);  
    background: linear-gradient(to right, #093637, #44A08D); 
    font-size: 1.05rem;
    font-weight: 500;
    color: rgb(red, green, blue);
    font-family: 'Zen Antique Soft', serif;
}